---
layout: default
title: HOME
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>
    <span class="post-date">{{ post.date | date_to_string }}</span>
    {{ post.excerpt }}
    <a href="{{ post.url }}" title="read more"> >>>MOAR </a>


<!--  {% for post in site.posts %}
      {{ post.excerpt }}
      <p>>>><a href="{{ post.url }}">read more</a></p>
  {% endfor %} -->


  </div>
  {% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous"> NEXT<<< </a>
  {% else %}
    <span class="previous"> NEXT<<< </span>
  {% endif %}
  <!-- <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span> -->
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next"> >>>PREV </a>
  {% else %}
    <span class="next "> >>>PREV </span>
  {% endif %}
</div>
